In [1]:
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from pathlib import Path
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
import numpy as np
from imblearn.over_sampling import RandomOverSampler

In [2]:
df = pd.read_csv(Path('Loan_Default.csv'))
df = df.drop(columns=['year','ID','Gender'])
df

,loan_limit,approv_in_adv,loan_type,loan_purpose,Credit_Worthiness,open_credit,business_or_commercial,loan_amount,rate_of_interest,Interest_rate_spread,...,credit_type,Credit_Score,co-applicant_credit_type,age,submission_of_application,LTV,Region,Security_Type,Status,dtir1
0,cf,nopre,type1,p1,l1,nopc,nob/c,116500,NaN,NaN,...,EXP,758,CIB,25-34,to_inst,98.728814,south,direct,1,45.0
1,cf,nopre,type2,p1,l1,nopc,b/c,206500,NaN,NaN,...,EQUI,552,EXP,55-64,to_inst,NaN,North,direct,1,NaN
2,cf,pre,type1,p1,l1,nopc,nob/c,406500,4.560,0.2000,...,EXP,834,CIB,35-44,to_inst,80.019685,south,direct,0,46.0
3,cf,nopre,type1,p4,l1,nopc,nob/c,456500,4.250,0.6810,...,EXP,587,CIB,45-54,not_inst,69.376900,North,direct,0,42.0
4,cf,pre,type1,p1,l1,nopc,nob/c,696500,4.000,0.3042,...,CRIF,602,EXP,25-34,not_inst,91.886544,North,direct,0,39.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148665,cf,nopre,type1,p3,l1,nopc,nob/c,436500,3.125,0.2571,...,CIB,659,EXP,55-64,to_inst,71.792763,south,direct,0,48.0
148666,cf,nopre,type1,p1,l1,nopc,nob/c,586500,5.190,0.8544,...,CIB,569,CIB,25-34,not_inst,74.428934,south,direct,0,15.0
148667,cf,nopre,type1,p4,l1,nopc,nob/c,446500,3.125,0.0816,...,CIB,702,EXP,45-54,not_inst,61.332418,North,direct,0,49.0
148668,cf,nopre,type1,p4,l1,nopc,nob/c,196500,3.500,0.5824,...,EXP,737,EXP,55-64,to_inst,70.683453,North,direct,0,29.0
148669,cf,nopre,type1,p3,l1,nopc,nob/c,406500,4.375,1.3871,...,CIB,830,CIB,45-54,not_inst,72.849462,North,direct,0,44.0

In [3]:
print(df.isnull().sum())

loan_limit                    3344
approv_in_adv                  908
loan_type                        0
loan_purpose                   134
Credit_Worthiness                0
open_credit                      0
business_or_commercial           0
loan_amount                      0
rate_of_interest             36439
Interest_rate_spread         36639
Upfront_charges              39642
term                            41
Neg_ammortization              121
interest_only                    0
lump_sum_payment                 0
property_value               15098
construction_type                0
occupancy_type                   0
Secured_by                       0
total_units                      0
income                        9150
credit_type                      0
Credit_Score                     0
co-applicant_credit_type         0
age                            200
submission_of_application      200
LTV                          15098
Region                           0
Security_Type                    0
Status                           0
dtir1                        24121
dtype: int64

In [4]:
#df['loan_limit'].fillna(df['loan_limit'].mean(), inplace = True)
#print(df.isnull().sum())

In [5]:
# for row, index in df.iterrows():
#     for i in range(0,len(df.iloc[0])):
#         if df.iloc[i,"index"].isna() == True:
#             df.iloc[i] = df.iloc[:,i].mean()
# df

In [6]:
df.Status.value_counts()

0    112031
1     36639
Name: Status, dtype: int64

In [7]:
cats = df.dtypes[df.dtypes=='object'].index
cats

Index(['loan_limit', 'approv_in_adv', 'loan_type', 'loan_purpose',
       'Credit_Worthiness', 'open_credit', 'business_or_commercial',
       'Neg_ammortization', 'interest_only', 'lump_sum_payment',
       'construction_type', 'occupancy_type', 'Secured_by', 'total_units',
       'credit_type', 'co-applicant_credit_type', 'age',
       'submission_of_application', 'Region', 'Security_Type'],
      dtype='object')

In [8]:
cols = df.drop(columns = cats)
cols

In [9]:
test = df.dropna()
test.Status.value_counts()

0    98187
Name: Status, dtype: int64

In [10]:
for i in cols:
    print(cols['Status'].corr(df[i]))

-0.0368252755443805
0.02295707332398795
nan
-0.019137941919087777
-0.00023982428649341355
-0.0488641271851315
-0.06511896960828174
0.004003693595588527
0.03889546617224202
1.0
0.07808306605281926

In [11]:
cols.isnull().sum()

loan_amount                 0
rate_of_interest        36439
Interest_rate_spread    36639
Upfront_charges         39642
term                       41
property_value          15098
income                   9150
Credit_Score                0
LTV                     15098
Status                      0
dtir1                   24121
dtype: int64

In [12]:
df.isnull().sum()

loan_limit                    3344
approv_in_adv                  908
loan_type                        0
loan_purpose                   134
Credit_Worthiness                0
open_credit                      0
business_or_commercial           0
loan_amount                      0
rate_of_interest             36439
Interest_rate_spread         36639
Upfront_charges              39642
term                            41
Neg_ammortization              121
interest_only                    0
lump_sum_payment                 0
property_value               15098
construction_type                0
occupancy_type                   0
Secured_by                       0
total_units                      0
income                        9150
credit_type                      0
Credit_Score                     0
co-applicant_credit_type         0
age                            200
submission_of_application      200
LTV                          15098
Region                           0
Security_Type                    0
Status                           0
dtir1                        24121
dtype: int64

In [13]:
cols['rate_of_interest'].fillna(cols['rate_of_interest'].mean(), inplace = True)
cols['Interest_rate_spread'].fillna(cols['Interest_rate_spread'].mean(), inplace = True)
cols['Upfront_charges'].fillna(cols['Upfront_charges'].mean(), inplace = True)
cols['term'].fillna(cols['term'].mean(), inplace = True)
cols['property_value'].fillna(cols['property_value'].mean(), inplace = True)
cols['income'].fillna(cols['income'].mean(), inplace = True)
cols['LTV'].fillna(cols['LTV'].mean(), inplace = True)
cols['dtir1'].fillna(cols['dtir1'].mean(), inplace = True)

In [14]:
cols['rate_of_interest'].fillna(cols['rate_of_interest'].mean(), inplace = True)

In [15]:
for i in cols:
    print(cols['Status'].corr(df[i]))

-0.0368252755443805
0.02295707332398795
nan
-0.019137941919087777
-0.00023982428649341355
-0.0488641271851315
-0.06511896960828174
0.004003693595588527
0.03889546617224202
1.0
0.07808306605281926

In [16]:
cols.isnull().sum()

loan_amount             0
rate_of_interest        0
Interest_rate_spread    0
Upfront_charges         0
term                    0
property_value          0
income                  0
Credit_Score            0
LTV                     0
Status                  0
dtir1                   0
dtype: int64

In [17]:
df.isna().head(10)#.sum()

,loan_limit,approv_in_adv,loan_type,loan_purpose,Credit_Worthiness,open_credit,business_or_commercial,loan_amount,rate_of_interest,Interest_rate_spread,...,credit_type,Credit_Score,co-applicant_credit_type,age,submission_of_application,LTV,Region,Security_Type,Status,dtir1
0,False,False,False,False,False,False,False,False,True,True,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,True,True,...,False,False,False,False,False,True,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [18]:
df.Status.value_counts()

0    112031
1     36639
Name: Status, dtype: int64

In [19]:
cats = list(df.dtypes[df.dtypes == 'object'].index)

In [20]:
cats

['loan_limit',
 'approv_in_adv',
 'loan_type',
 'loan_purpose',
 'Credit_Worthiness',
 'open_credit',
 'business_or_commercial',
 'Neg_ammortization',
 'interest_only',
 'lump_sum_payment',
 'construction_type',
 'occupancy_type',
 'Secured_by',
 'total_units',
 'credit_type',
 'co-applicant_credit_type',
 'age',
 'submission_of_application',
 'Region',
 'Security_Type']

In [21]:
for i in cats:
    print(df[i].value_counts())

cf     135348
ncf      9978
Name: loan_limit, dtype: int64
nopre    124621
pre       23141
Name: approv_in_adv, dtype: int64
type1    113173
type2     20762
type3     14735
Name: loan_type, dtype: int64
p3    55934
p4    54799
p1    34529
p2     3274
Name: loan_purpose, dtype: int64
l1    142344
l2      6326
Name: Credit_Worthiness, dtype: int64
nopc    148114
opc        556
Name: open_credit, dtype: int64
nob/c    127908
b/c       20762
Name: business_or_commercial, dtype: int64
not_neg    133420
neg_amm     15129
Name: Neg_ammortization, dtype: int64
not_int     141560
int_only      7110
Name: interest_only, dtype: int64
not_lpsm    145286
lpsm          3384
Name: lump_sum_payment, dtype: int64
sb    148637
mh        33
Name: construction_type, dtype: int64
pr    138201
ir      7340
sr      3129
Name: occupancy_type, dtype: int64
home    148637
land        33
Name: Secured_by, dtype: int64
1U    146480
2U      1477
3U       393
4U       320
Name: total_units, dtype: int64
CIB     48152
CRIF    43901
EXP     41319
EQUI    15298
Name: credit_type, dtype: int64
CIB    74392
EXP    74278
Name: co-applicant_credit_type, dtype: int64
45-54    34720
35-44    32818
55-64    32534
65-74    20744
25-34    19142
>74       7175
<25       1337
Name: age, dtype: int64
to_inst     95814
not_inst    52656
Name: submission_of_application, dtype: int64
North         74722
south         64016
central        8697
North-East     1235
Name: Region, dtype: int64
direct      148637
Indriect        33
Name: Security_Type, dtype: int64

In [22]:
enc = OneHotEncoder(sparse=False)

In [23]:
cats_enc = enc.fit_transform(df[cats])

In [24]:
cats_enc

array([[1., 0., 0., ..., 1., 0., 1.],
       [1., 0., 0., ..., 0., 0., 1.],
       [1., 0., 0., ..., 1., 0., 1.],
       ...,
       [1., 0., 0., ..., 0., 0., 1.],
       [1., 0., 0., ..., 0., 0., 1.],
       [1., 0., 0., ..., 0., 0., 1.]])

In [25]:
df_enc = pd.DataFrame(cats_enc,
                     columns = enc.get_feature_names(cats))
df_enc.isnull().sum()

C:\Users\Gabe\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

loan_limit_cf             0
loan_limit_ncf            0
loan_limit_nan            0
approv_in_adv_nopre       0
approv_in_adv_pre         0
                         ..
Region_North-East         0
Region_central            0
Region_south              0
Security_Type_Indriect    0
Security_Type_direct      0
Length: 61, dtype: int64

In [26]:
df_final = pd.concat([cols, df_enc], axis=1)

In [27]:
good_loan = df_final[df_final.Status==0][:36639].copy()
bad_loan = df_final[df_final.Status==1].copy()
trimmed_loan = pd.concat([good_loan, bad_loan])
trimmed_loan

,loan_amount,rate_of_interest,Interest_rate_spread,Upfront_charges,term,property_value,income,Credit_Score,LTV,Status,...,age_nan,submission_of_application_not_inst,submission_of_application_to_inst,submission_of_application_nan,Region_North,Region_North-East,Region_central,Region_south,Security_Type_Indriect,Security_Type_direct
2,406500,4.560000,0.200000,595.000000,360.0,5.080000e+05,9480.000000,834,80.019685,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
3,456500,4.250000,0.681000,3224.996127,360.0,6.580000e+05,11880.000000,587,69.376900,0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
4,696500,4.000000,0.304200,0.000000,360.0,7.580000e+05,10440.000000,602,91.886544,0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
5,706500,3.990000,0.152300,370.000000,360.0,1.008000e+06,10080.000000,864,70.089286,0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
6,346500,4.500000,0.999800,5120.000000,360.0,4.380000e+05,5040.000000,860,79.109589,0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148651,446500,4.045476,0.441656,3224.996127,360.0,5.080000e+05,12300.000000,897,87.893701,1,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
148652,96500,4.045476,0.441656,3224.996127,180.0,4.978935e+05,5460.000000,608,72.746457,1,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
148658,386500,4.045476,0.441656,3224.996127,360.0,4.978935e+05,4680.000000,669,72.746457,1,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
148661,346500,4.045476,0.441656,3224.996127,360.0,3.580000e+05,6957.338876,585,96.787710,1,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
148663,106500,4.045476,0.441656,3224.996127,360.0,4.978935e+05,1860.000000,619,72.746457,1,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0

In [28]:
y = trimmed_loan.Status
y
X = trimmed_loan.drop(columns = 'Status')
X.isnull().sum()

loan_amount               0
rate_of_interest          0
Interest_rate_spread      0
Upfront_charges           0
term                      0
                         ..
Region_North-East         0
Region_central            0
Region_south              0
Security_Type_Indriect    0
Security_Type_direct      0
Length: 71, dtype: int64

In [29]:
# y = df_final.Status
# y
# X = df_final.drop(columns = 'Status')
# X.isnull().sum()

In [30]:
df_final

,loan_amount,rate_of_interest,Interest_rate_spread,Upfront_charges,term,property_value,income,Credit_Score,LTV,Status,...,age_nan,submission_of_application_not_inst,submission_of_application_to_inst,submission_of_application_nan,Region_North,Region_North-East,Region_central,Region_south,Security_Type_Indriect,Security_Type_direct
0,116500,4.045476,0.441656,3224.996127,360.0,118000.000000,1740.0,758,98.728814,1,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
1,206500,4.045476,0.441656,3224.996127,360.0,497893.465696,4980.0,552,72.746457,1,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,406500,4.560000,0.200000,595.000000,360.0,508000.000000,9480.0,834,80.019685,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
3,456500,4.250000,0.681000,3224.996127,360.0,658000.000000,11880.0,587,69.376900,0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
4,696500,4.000000,0.304200,0.000000,360.0,758000.000000,10440.0,602,91.886544,0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148665,436500,3.125000,0.257100,9960.000000,180.0,608000.000000,7860.0,659,71.792763,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
148666,586500,5.190000,0.854400,0.000000,360.0,788000.000000,7140.0,569,74.428934,0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
148667,446500,3.125000,0.081600,1226.640000,180.0,728000.000000,6900.0,702,61.332418,0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
148668,196500,3.500000,0.582400,4323.330000,180.0,278000.000000,7140.0,737,70.683453,0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
148669,406500,4.375000,1.387100,6000.000000,240.0,558000.000000,7260.0,830,72.849462,0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0

In [31]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [32]:
scaler = StandardScaler()
X_scaler = scaler.fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [33]:
X_train_scaled

array([[-0.52784347,  0.0029647 ,  0.00687697, ..., -0.88710849,
        -0.02001165,  0.02001165],
       [-0.26743005,  0.0029647 ,  0.00687697, ..., -0.88710849,
        -0.02001165,  0.02001165],
       [ 0.40964484,  0.0029647 ,  0.00687697, ...,  1.12725784,
        -0.02001165,  0.02001165],
       ...,
       [-0.21534737, -1.69482135, -2.26995594, ..., -0.88710849,
        -0.02001165,  0.02001165],
       [-0.94450494,  0.0029647 ,  0.00687697, ...,  1.12725784,
        -0.02001165,  0.02001165],
       [ 0.8263063 ,  0.83738942,  2.29949259, ..., -0.88710849,
        -0.02001165,  0.02001165]])

In [34]:
# ros = RandomOverSampler()

In [35]:
# ros.fit_resample()
# X_train_scaled = ros.fit_resample(X_train_scaled)

In [36]:
#ros.fit_resample(X_train_scaled, y_train)

In [37]:
X_train_scaled

array([[-0.52784347,  0.0029647 ,  0.00687697, ..., -0.88710849,
        -0.02001165,  0.02001165],
       [-0.26743005,  0.0029647 ,  0.00687697, ..., -0.88710849,
        -0.02001165,  0.02001165],
       [ 0.40964484,  0.0029647 ,  0.00687697, ...,  1.12725784,
        -0.02001165,  0.02001165],
       ...,
       [-0.21534737, -1.69482135, -2.26995594, ..., -0.88710849,
        -0.02001165,  0.02001165],
       [-0.94450494,  0.0029647 ,  0.00687697, ...,  1.12725784,
        -0.02001165,  0.02001165],
       [ 0.8263063 ,  0.83738942,  2.29949259, ..., -0.88710849,
        -0.02001165,  0.02001165]])

In [38]:
pd.DataFrame(X_train_scaled)

,0,1,2,3,4,5,6,7,8,9,...,61,62,63,64,65,66,67,68,69,70
0,-0.527843,0.002965,0.006877,-0.000993,0.427870,0.023694,-0.553794,-0.519574,-0.019743,-0.041462,...,-0.052663,1.451517,-1.442371,-0.052663,1.020071,-0.094848,-0.254049,-0.887108,-0.020012,0.020012
1,-0.267430,0.002965,0.006877,-0.000993,0.427870,-0.562404,-0.384365,0.900945,0.425581,1.238395,...,-0.052663,-0.688934,0.693303,-0.052663,-0.980324,-0.094848,3.936242,-0.887108,-0.020012,0.020012
2,0.409645,0.002965,0.006877,-0.000993,-1.651344,0.111968,0.876940,1.451934,0.074531,0.090735,...,-0.052663,-0.688934,0.693303,-0.052663,-0.980324,-0.094848,-0.254049,1.127258,-0.020012,0.020012
3,-0.684092,0.002965,0.006877,-0.000993,0.427870,0.023694,-0.280825,-0.803678,-0.019743,-0.041462,...,-0.052663,-0.688934,0.693303,-0.052663,1.020071,-0.094848,-0.254049,-0.887108,-0.020012,0.020012
4,-0.579926,0.002965,0.006877,-0.000993,0.427870,-0.679686,-0.064333,-1.105000,0.228451,1.447060,...,-0.052663,-0.688934,0.693303,-0.052663,1.020071,-0.094848,-0.254049,-0.887108,-0.020012,0.020012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54953,0.149231,0.002965,0.006877,-0.000993,-0.611737,-0.034635,0.726337,0.642669,0.021039,0.821064,...,-0.052663,-0.688934,0.693303,-0.052663,-0.980324,-0.094848,-0.254049,1.127258,-0.020012,0.020012
54954,1.659629,-1.061769,0.011439,-0.875366,-1.651344,1.871199,0.707511,0.134725,-0.362704,1.029729,...,-0.052663,-0.688934,0.693303,-0.052663,1.020071,-0.094848,-0.254049,-0.887108,-0.020012,0.020012
54955,-0.215347,-1.694821,-2.269956,-1.207407,0.427870,0.287891,-0.393778,-1.483806,-0.553586,-0.013598,...,-0.052663,1.451517,-1.442371,-0.052663,1.020071,-0.094848,-0.254049,-0.887108,-0.020012,0.020012
54956,-0.944505,0.002965,0.006877,-0.000993,0.427870,-0.386481,-0.789113,0.625450,-0.726986,-2.100253,...,-0.052663,-0.688934,0.693303,-0.052663,-0.980324,-0.094848,-0.254049,1.127258,-0.020012,0.020012
54957,0.826306,0.837389,2.299493,-0.678355,-1.651344,1.226147,0.961655,-1.242748,-0.445697,-0.117931,...,-0.052663,1.451517,-1.442371,-0.052663,1.020071,-0.094848,-0.254049,-0.887108,-0.020012,0.020012

In [39]:
y_train

4144      1
132160    1
5325      1
22714     1
18198     1
         ..
50717     1
27250     0
28373     0
54503     1
6893      0
Name: Status, Length: 54958, dtype: int64

In [40]:
help(tf.keras.activations.softplus)

Help on function softplus in module keras.activations:

softplus(x)
    Softplus activation function, `softplus(x) = log(exp(x) + 1)`.

    Example Usage:

    >>> a = tf.constant([-20, -1.0, 0.0, 1.0, 20], dtype = tf.float32)
    >>> b = tf.keras.activations.softplus(a)
    >>> b.numpy()
    array([2.0611537e-09, 3.1326166e-01, 6.9314718e-01, 1.3132616e+00,
             2.0000000e+01], dtype=float32)

    Args:
        x: Input tensor.

    Returns:
        The softplus activation: `log(exp(x) + 1)`.

In [41]:
nn = Sequential()

In [42]:
hidden_nodes1 = 4
hidden_nodes2 = 2
hidden_nodes3 = 1
final_nodes = 1
num_features = len(X_train.iloc[0])


nn.add(Dense(units = hidden_nodes1, input_dim = num_features, activation = 'relu'))
nn.add(Dense(units = hidden_nodes2, activation = 'relu'))
nn.add(Dense(units = hidden_nodes3, activation = 'relu'))
nn.add(Dense(units = final_nodes, activation = 'sigmoid'))
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 4)                 288

 dense_1 (Dense)             (None, 2)                 10

 dense_2 (Dense)             (None, 1)                 3

 dense_3 (Dense)             (None, 1)                 2

=================================================================
Total params: 303
Trainable params: 303
Non-trainable params: 0
_________________________________________________________________

In [43]:
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics = ['accuracy'])

In [44]:
fit_model = nn.fit(X_train_scaled, y_train, epochs = 10)

Epoch 1/10
1718/1718 [==============================] - 5s 2ms/step - loss: 0.6932 - accuracy: 0.5001
Epoch 2/10
1718/1718 [==============================] - 4s 2ms/step - loss: 0.6932 - accuracy: 0.5009
Epoch 3/10
1718/1718 [==============================] - 4s 2ms/step - loss: 0.6932 - accuracy: 0.5024
Epoch 4/10
1718/1718 [==============================] - 4s 2ms/step - loss: 0.6932 - accuracy: 0.5007
Epoch 5/10
1718/1718 [==============================] - 4s 2ms/step - loss: 0.6932 - accuracy: 0.5004
Epoch 6/10
1718/1718 [==============================] - 4s 2ms/step - loss: 0.6932 - accuracy: 0.5000
Epoch 7/10
1718/1718 [==============================] - 4s 2ms/step - loss: 0.6931 - accuracy: 0.5043
Epoch 8/10
1718/1718 [==============================] - 4s 2ms/step - loss: 0.6932 - accuracy: 0.4996
Epoch 9/10
1718/1718 [==============================] - 4s 2ms/step - loss: 0.6932 - accuracy: 0.5014
Epoch 10/10
1718/1718 [==============================] - 4s 2ms/step - loss: 0.6932 - accuracy: 0.5002

In [45]:
# help(fit_model)

In [46]:
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the evaluation results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

573/573 - 1s - loss: 0.6931 - accuracy: 0.5072 - 1s/epoch - 2ms/step
Loss: 0.6931246519088745, Accuracy: 0.5071506500244141

In [47]:
prediction = nn.predict(X)

2290/2290 [==============================] - 4s 2ms/step

In [48]:
# len(y)
# y

In [49]:
prediction[:20]

array([[0.499148],
       [0.499148],
       [0.499148],
       [0.499148],
       [0.499148],
       [0.499148],
       [0.499148],
       [0.499148],
       [0.499148],
       [0.499148],
       [0.499148],
       [0.499148],
       [0.499148],
       [0.499148],
       [0.499148],
       [0.499148],
       [0.499148],
       [0.499148],
       [0.499148],
       [0.499148]], dtype=float32)

In [50]:
df_final.Status.value_counts()

0    112031
1     36639
Name: Status, dtype: int64

In [51]:
prediction1 = np.where(prediction > .5, 1, 0)
len(prediction1)

73278

In [52]:
from sklearn.metrics import classification_report
print(classification_report(y, prediction1))

              precision    recall  f1-score   support

           0       0.50      1.00      0.67     36639
           1       0.00      0.00      0.00     36639

    accuracy                           0.50     73278
   macro avg       0.25      0.50      0.33     73278
weighted avg       0.25      0.50      0.33     73278

C:\Users\Gabe\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Gabe\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Gabe\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))